<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<context:component-scan base-package="com.study.spring"/>
	
	<!-- enable cache annotation -->
	<cache:annotation-driven />
	
	<context:property-placeholder location="classpath:redis.properties" />

	<bean id="redisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"
		p:maxIdle="${redis.maxIdle}" 
		p:maxWaitMillis="${redis.maxWait}"
		p:testOnBorrow="${redis.testOnBorrow}" p:minEvictableIdleTimeMillis="3">
	</bean>

	<bean id="redisConnectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:host-name="${redis.hostname}"
		p:port="${redis.port}" 
		p:password="${redis.password}"
		p:poolConfig-ref="redisPoolConfig" />

	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
		p:connection-factory-ref="redisConnectionFactory" />


	<bean id="cacheManager" class="org.springframework.data.redis.cache.RedisCacheManager"
		c:redisOperations-ref="redisTemplate">
		<!-- 0: never expired -->
		<property name="defaultExpiration" value="0" />	
		<!-- particular expire settings -->
		<property name="expires">
			<map>
				<entry key="a" value="1" />
				<entry key="b" value="1" />
				<entry key="c" value="1" />
			</map>
		</property>
	</bean>
</beans>