<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="userDao">

    <select id="queryDataRange" resultType="com.study.spring.batch.remote.partition.domain.dto.Pagination">
        select min(id) as startId, max(id) as endId, count(1) as dataCount from t_user_validate where deal_flag is null
    </select>
    
    <!-- 查询批次数据的结束位置 -->
<!--     <select id="queryBatchDataRange" parameterType="com.study.spring.batch.domain.dto.Pagination" resultType="com.study.spring.batch.domain.dto.Pagination">
        select max(id) as endId, count(id) as dataCount from (select id from t_user_validate where id&gt;=#{startId} order by id asc)where rownum &lt;= #{dataCount}
    </select> -->
    <select id="queryBatchDataRange" parameterType="com.study.spring.batch.remote.partition.domain.dto.Pagination" resultType="com.study.spring.batch.remote.partition.domain.dto.Pagination">
        select max(a.id) as endId, count(a.id) as dataCount from (select id from t_user_validate where id&gt;=#{startId} order by id asc limit #{dataCount})a;
    </select>
</mapper>